{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="post">
        {% if request.user.is_authenticated %}
          <div class="mt-2">
            <a href="{% url 'draft-publish' post.pk %}" class="btn btn-success">Publish</a>
          </div>
        {% endif %}
        <h1>
          <a href="#">{{ post.title }}</a>
        </h1>
        {% if request.user.is_authenticated %}
          <div class="mt-2 my-2">
            <a href="{% url 'post-update' post.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete</a>
          </div>
        {% endif %}
        <div class="date author">@{{ post.author.username }}</div>
        <p>{{ post.content|linebreaksbr }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
